<configuration>

    <springProperty name="appName"     source="spring.application.name" defaultValue="payam"/>
    <springProperty name="environment" source="app.environment"         defaultValue="dev"/>
    <springProperty name="appVersion"  source="app.version"             defaultValue="unknown"/>
    <springProperty name="lokiUrl"     source="loki.url"                defaultValue="http://localhost:3100"/>

    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <logLevel/>
                <threadName/>
                <loggerName/>
                <message/>
                <mdc/>
                <arguments/>
                <stackTrace/>
                <pattern>
                    <pattern>
                        {
                          "service":     "${appName}",
                          "environment": "${environment}",
                          "version":     "${appVersion}"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>${lokiUrl}/loki/api/v1/push</url>
        </http>
        <format>
            <label>
                <pattern>service=${appName},environment=${environment},version=${appVersion},host=${HOSTNAME},level=%level</pattern>
            </label>
            <message class="com.github.loki4j.logback.JsonLayout" />
            <sortByTime>true</sortByTime>
        </format>
    </appender>

    <root level="INFO">
        <appender-ref ref="JSON"/>
        <appender-ref ref="LOKI"/>
    </root>

</configuration>
